# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# venv folder
venv/

# pycharm files
.idea/

# py cache
__pycache__/

# ignore tex files
*.log
*.synctex.gz
*.aux
*.out
*.bak
*.bbl
*.blg
*.dvi

