# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# dump folder
dump/
dump.zip
dumps/

# venv folder
venv/
env/

# score cards and orders
scoreboard/*
masterOrder/*

# pycharm files
.idea/

node_modules/

# py cache
__pycache__/

# ignore tex files
*.log
*.synctex.gz
*.aux
*.out
*.bak
*.bbl
*.blg
*.dvi


# test files
test.py

# lock files
*lock*
