django
djongo
atomicwrites
attrs
boto3
botocore
bson
dnspython
docutils
importlib-metadata
jmespath
more-itertools
packaging
pathlib2
pluggy
py
pymongo
pyparsing
pytest
pytest-mock
python-dateutil
s3transfer
six
urllib3
wcwidth
zipp
